name: Publish Docs

on:
  push:
    branches:
      - main
  # TODO: replace with on push tag https://github.com/actions/deploy-pages/issues/76
  workflow_run:
    workflows: [Publish Release]
    types:
      - completed

jobs:
  publish:

    runs-on: ubuntu-latest
    if: github.repository == 'gabrielittner/renderer'

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Install Android SDK
        run: ./.github/android-sdk.sh

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install MkDocs Material
        run: pip install mkdocs-material

      - name: Build docs
        run: ./gradlew dokkaHtml

      - name: Copy docs
        run: |
          cp README.md docs/index.md
          sed -i '/^\[\!\[GitHub release/d' docs/index.md
          sed -i "s/<latest-version>/$(git describe --tags --abbrev=0)/" docs/index.md
          mkdir -p docs/API/connect
          cp -R connect/build/dokka/html/. docs/API/connect/
          mkdir -p docs/API/renderer
          cp -R renderer/build/dokka/html/. docs/API/renderer/
          mkdir -p docs/API/renderer-list
          cp -R renderer-list/build/dokka/html/. docs/API/renderer-list/

      - name: Build MkDocs
        run: mkdocs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
